.comment.comment-form.mb-3
  .comment-line
    = link_to new_comment_path(commentable_type: 'Campaign', commentable_id: commentable.id), remote: true do
      .border.bg-white{ style: "height: 4rem;" }

    .comment-control
      .comment-extra
        = local_assigns[:extra]
    .text-right
      = link_to '등록', new_comment_path(commentable_type: 'Campaign', commentable_id: commentable.id), remote: true, class: 'mt-2 btn btn-sm btn-outline-primary'