.comments
  - comments.recent.each do |comment|
    = render 'comments/comment', local_assigns

- if comments.first.try(:commentable).present?
  - commentable = comments.first.commentable
  .text-center
    = paginate comments, theme: 'twitter-bootstrap-3', params: { controller: 'comments', action: 'index', commentable_id: commentable.id, commentable_type: commentable.class.name, id: nil, show_form: local_assigns[:show_form] }
