%ul.list-unstyled{ style: 'margin-bottom: 0' }
  - @comment.orders.in_groups_of(2, false).each do |group_orders|
    .row
      - group_orders.each do |order|
        .col-sm-6.text-nowrap
          = image_tag order.agent.image.md.url, style: "width: 24px; margin-right: 5px;"
          %span= order.agent.name
          - if order.agent.category == '개인'
            %small.text-muted= order.agent.organization
          - if order.read?
            - any_read = true
            %span{ style: 'color: green;' }
              %i.fa.fa-check
              읽음
          - else
            %span 안읽음
