- bottom_section = capture do
  = render 'campaigns/order_button_sticky', campaign: @campaign

= render 'campaigns/stories', campaign: @campaign, bottom_section: bottom_section

= render "campaigns/analytics"