- unless user_signed_in?
  = link_to new_user_session_url do
    %i.fa.fa-heart-o
    관심갖기
- else
  - if issue.following?(current_user)
    = link_to issue.following_of(current_user), method: :delete, remote: true, data: { 'disable-with': '처리 중...' } do
      %i.fa.fa-heart
      관심끊기
  - else
    = link_to following_issues_path('following_issue[issue_id]': issue.id), method: :post, remote: true, data: { 'disable-with': '처리 중...' } do
      %i.fa.fa-heart-o
      관심갖기
