%section
  .container
    %div{ style:"max-width: 600px; margin: 0 auto;" }
      %h3.sub-title
        마케팅동의_기본양식
      %p
        📌 (선택) 마케팅동의_기본양식
        맞춤형 정보 안내 및 정보 수신동의 (선택)
        서비스 이용자의 개인정보를 이용하는 목적은 다음과 같습니다.
        수집∙이용 목적
        수집하는 개인정보 항목
        보유∙이용기간
        이벤트 정보 및 신규 프로젝트 참여기회 제공, 광고성 정보 제공 등 
        
        
        아이디, 이메일, 이름
        동의 철회 또는 회원탈퇴 시
        귀하는 동의를 거부할 권리가 있습니다. 
        그러나 동의를 하지 않으시면 최신 소식 및 유익한 정보를 받아 보실 수 없습니다. 