%section
  .mb-3
    - if @campaign.opened?
      진행 시간
      %h4.font-weight-bold.campaign-time-to-left.js-campaign-time-to-left.hidden-xs{ 'data-campaign-time-to-left-due-date': bot_day_f(@campaign.opened_at)}
        %span.digit-to-left.days ___
        %span.div 일
        %span.digit-to-left.hours __
        %span.div :
        %span.digit-to-left.minutes __
        %span.div :
        %span.digit-to-left.seconds __
    - else
      %h4.font-weight-bold.campaign-time-to-left.hidden-xs
        .font-weight-normal 종료일
        .digit-to-left.days= static_day_f(@campaign.closed_at)
  .my-3
    %p
      현재
      %strong #{number_with_delimiter(@campaign.comments.size, delimiter:",")}
      명이 추모하였습니다

  .my-3
    %ul.text-muted.list-unstyled
      - @campaign.comments.recent.limit(3).each do |comment|
        %li
          %small
            #{comment.commenter_name}님이 추모하였습니다

    - if @campaign.opened?
      = link_to new_comment_path(commentable_type: 'Campaign', commentable_id: @campaign.id), remote: true, class: "btn btn-dark btn-lg btn-block campaign-sign-btn" do
        추모하기

.d-block.d-sm-none{ style: "background-color: #dee2e6; height: 0.5rem; margin: 2rem -1rem 0" }