- content_for :script do
  %script{ src: "/campaigns/widget/v1.js?component_name=#{params[:component_name]}&campaign_id=#{params[:campaign_id]}&component_tag=#{params[:component_tag]}" }
  :javascript
    document.querySelector('#sign-test').addEventListener('click', function(event) {
      event.preventDefault();

      // Pretend to make an ajax call to log the user in
      setTimeout(function() {
        // Since we had a successful login, call-back the parent page to let them know which user logged in:
        window.xprops.onSign("sample_result");
      }, 500);
    });

%section
  .container
    %p= @campaign.inspect
    %hr
    .btn.btn-default{ id: 'sign-test' } 서명 테스트

