.app-campaigns {
  .section-cover {
    height: 240px;
    z-index: 1;
    .cover-overlay {
      width: 100%;
      height: 240px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.67));
      position: absolute;
      z-index: -1;
    }
    .cover-image {
      width: 100%;
      height: 236px;
      position: absolute;
      z-index: -2;
    }
    .info-container {
      // xs - sm - md - lg
      // xs - (sm md) - lg

      padding: 99px 16px 32px;
      @media (max-width: $screen-xs-max) {
        padding: 40px 16px 59px; // padding
      }
      @media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
        padding: 39px 66px 74px; // max-width
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        padding: 98px 80px 32px;
      }
    }
    .meta {
      text-align: center;
      margin-bottom: 24px;
      .label {
        color: black;
        background-color: #dadada;
        border-radius: 2px;
        letter-spacing: -0.4px;
        font-weight: normal;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
      }
      .agent-info {
        color: white;
        letter-spacing: -0.4px;
        font-size: 14px;
        margin-left: 4px;
        display: inline;
      }
    }
    .campaign-title {
      @extend .text-basic-wrap;
      @extend .typo-h4;
      color: white;
      text-align: center;
    }
    .user {
      text-align: center;
      .user-image-xs {
        vertical-align: text-bottom;
      }
      .user-name {
        line-height: 20px;
        display: inline;
        font-size: $font-size-body2;
        letter-spacing: $letter-spacing-body2;
        color: white;
      }
    }
  }
  .section-panel {
    background-color: white;
    padding: 0;
    @media (min-width: $screen-sm) {
      justify-content: center;
      display: flex;
      flex-direction: row-reverse;
      padding-top: 102px;
    }
    .section-right {
      width: 302px;
      @media (max-width: $screen-sm-max) {
        width: 100%;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        width: 227px;
      }
    }
    .section-left {
      width: 580px;
      @media (max-width: $screen-sm-max) {
        width: 100%;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        width: 432px;
      }
    }
  }

  .phone-fold {
    display: block;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    @media (min-width: $screen-xs) {
      display: block;
    }
  }
  .tablet-fold {
    display: block;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
    @media (min-width: $screen-sm) {
      display: block;
    }
  }
  .tablet-hide {
    display: none;
    @media (max-width: $screen-sm-max) {
      display: block;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      display: none;
    }
  }
  .tab-content {
    border: 0;
  }

  .section-info {
    background-color: white;
    .campaign-progress {
      padding: 24px 16px 40px;
    }
    .campaign-time-to-left {
      font-size: 14px;
      letter-spacing: -0.6px;
      color: #aaaaaa;
      margin-bottom: 16px;
      .div {
        display: inline;
        margin-right: 4px;
      }
      .digit-to-left {
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: 500;
        color: #303030;
        display: inline;
        margin-right: 4px;
      }
      .days {
        font-size: 28px;
        letter-spacing: -1.8px;
        margin-right: 2px;
      }
    }
    .campaign-label {
      font-size: 16px;
      letter-spacing: -1px;
      color: $gray-caption;
      .current-message {
        display: inline;
        font-weight: 500;
        color: $gray-dark-message;
      }
    }
    .campaign-progress-bar {
      height: 24px;
      border-radius: 12px;
      background-color: $gray-light;
      position: relative;
      margin-top: 24px;
      .current-percent {
        @extend .typo-body2;
        margin-top: 3px;
        position: absolute;
        left: 8px;
        color: white;
      }
      .success-badge {
        background-color: $yellow-gold;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        color: $color-brand-primary;
        border: 2px solid white;
        right: 4px;
        top: -24px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      }
      .signs-bar {
        width: 80px;
        height: 100%;
        border-radius: 12px;
        background-image: linear-gradient(to right, $color-brand-primary-light, $color-brand-primary 66%, $color-brand-primary);
      }
    }
    .campaign-progress-meta {
      margin: 8px 0 0;
      .signs-count {
        float: left;
        @extend .typo-overline;
        font-weight: 500;
        color: $gray-caption;
      }
      .goal-count {
        float: right;
        @extend .typo-overline;
        font-weight: 500;
        color: $gray-caption;
      }
    }
    .campaign-signs {
      margin: 24px 0 0;
      .campaign-sign {
        .signer-image {
          @extend .user-image-sm;
          margin-bottom: 8px;
          vertical-align: middle;
        }
        .signed-message {
          @extend .typo-overline;
          color: $gray-caption;
          font-weight: 500;
          display: inline;
        }
      }
    }
    .campaign-sign-form {
      margin-top: 25px;
      padding: 24px 0 25px;
      border-top: 1px solid #dedede;
      .campaign-sign {
        .signer-image {
          @extend .user-image-sm;
          margin-bottom: 8px;
          vertical-align: middle;
        }
        .signer-nickname {
          @extend .typo-overline;
          color: $gray-caption;
          font-weight: 500;
          display: inline;
        }
      }
      .campaign-sign-input {
        margin-bottom: 8px;
        padding: 8px;
        border: 1px solid #dedede;
        background-color: #fafafa;
        font-size: 14px;
        letter-spacing: -0.4px;
        color: #717171;
      }
      .campaign-sign-btn {
        margin: 16px 0 8px;
        padding: 17px 41px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.3px;
        text-align: center;
        color: white;
        background-color: #2575ef;
      }
      .campaign-sign-privacy-policy {
        font-size: 11px;
        letter-spacing: -0.4px;
        color: #aaaaaa;
        a {
          color: #2575ef
        }
      }
    }
    .campaign-share {
      padding-top: 24px;
      border-top: 1px solid #dedede;
      .campaign-share-text {
        margin-bottom: 8px;
        font-size: 14px;
        letter-spacing: -0.6px;
        word-break: keep-all;
        text-align: center;
        line-height: 24px;
      }
      .campaign-share-buttons {
        display: flex;
        justify-content: center;
        .campaign-share-button {
          display: inline;
          margin: 0 4px;
          text-align: center;
          font-size: 18px;
          border-radius: 20px;
          width: 40px;
          height: 39px;
          background-color: #f5f5f5;
          line-height: 39px;
          color: #bdbdbd;
        }
      }
    }
  }
  .section-tab {
    $menu-height: 48px;
    background-color: white;
    .menu {
      display: flex;
      height: $menu-height;
      align-items: center;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      text-align: center;
      border-bottom: 1px solid $color-brand-primary;

      padding: 0 420px;
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
      @media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
        padding: 0;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        padding: 0 140px;
      }


      li {
        flex: 1;
        height: $menu-height;
        letter-spacing: -0.3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $gray-menu;
        a {
          color: $gray-menu;
        }
        &.active {
          border-bottom: 3px solid $color-brand-primary;
          color: $color-brand-primary-active;
          a {
            color: $color-brand-primary-active;
          }
        }
        .menu-item {
          position: relative;
          .count {
            position: absolute;
            top: 0;
            left: 24px;
            color: $color-brand-primary;
            font-size: $font-size-small;
            line-height: 1.7em;
          }
        }
      }
    }
    .cover-img {
      height: 260px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .section-sign-btn {
    background-color: #f0f0f0;
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    .sign-btn {
      margin: 8px 16px;
      line-height: 36px;
      border-radius: 3px;
      height: 48px;
      background-color: $color-brand-primary;
      text-align: center;
      color: white;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      .sign-btn-text {
      }
    }
  }
  .section-body {
    margin-top: 8px;
    background-color: white;
    padding: 40px 16px;
    .section-title {
      margin-bottom: 32px;
      line-height: 1.71;
      height: 24px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.6px;
      color: #303030;
    }
    .campaign-body {
      font-size: 16px;
      letter-spacing: -0.5px;
      color: rgba(0,0,0,0.6);
      p {
        color: #717171;
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: -0.5px;
      }
    }
    .more {
      cursor: pointer;
      text-decoration: underline;
      margin-top: 16px;
      text-align: center;
      font-size: 14px;
      letter-spacing: -0.4px;
      color: rgba(0, 0, 0, 0.38);
    }
  }
  .section-orders {
    margin-top: 8px;
    padding: 20px 16px 40px;
    background-color: white;
    .section-title {
      color: #303030;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: -0.6px;
      font-size: 14px;
      margin-bottom: 16px;
    }
    .order-title {
      text-align: center;
      letter-spacing: 1px;
      font-weight: 500;
      color: #2575ef;
      font-size: 18px;
      margin-bottom: 16px;
      .underline {
        margin-right: -5px;
        border-bottom: 1px solid #2575ef;
      }
    }
    .order-info {
      text-align: center;
      font-size: 14px;
      color: #717171;
      letter-spacing: -0.4px;
      margin-bottom: 8px;
    }
    .order-users {
      text-align: center;
      justify-content: center;
      margin-bottom: 24px;
      height: 32px;
      .user-images {
        height: 32px;
        padding-left: 5px;
        display: inline-flex;
        flex-direction: row-reverse;
        vertical-align: middle;
        .overlapped {
          border: 1px solid white;
          position: relative;
          margin-left: -5px;
          overflow: hidden;
        }
      }
      .more {
        display: inline-block;
        color: #2575ef;
        margin: 0 1px 0 0;
      }
      .count {
        letter-spacing: -0.4px;
        font-size: 14px;
        margin: 3px 0;
        padding: 3px 8px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        border-radius: 13px;
        background-color: #2575ef;
        color: white;
      }
    }
    .agents {
      .agent {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        border: 1px solid #e0e0e0;
        margin-bottom: 8px;
        .agent-left {
          height: 56px;
        }
        .agent-unsure {
          position: relative;
          top: -4px;
          left: -4px;
          display: inline-block;
          line-height: 17px;
          height: 17px;
          width: 38px;
          text-align: center;
          font-size: 11px;
          background-color: #f7a329;
          color: white;
          letter-spacing: -0.4px;
        }
        .agent-disagree {
          position: relative;
          top: -4px;
          left: -4px;
          display: inline-block;
          line-height: 17px;
          height: 17px;
          width: 38px;
          text-align: center;
          font-size: 11px;
          background-color: #e74c3c;
          color: white;
          letter-spacing: -0.4px;
        }
        .agent-agree {
          position: relative;
          top: -4px;
          left: -4px;
          display: inline-block;
          line-height: 17px;
          height: 17px;
          width: 38px;
          text-align: center;
          font-size: 11px;
          background-color: #2575ef;
          color: white;
          letter-spacing: -0.4px;
        }
        .agent-image {
          width: 56px;
          height: 56px;
          flex: none;
        }
        .agent-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 11px;
          margin-right: auto;
          .agent-name {
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 500;
            color: #303030;
            display: inline;
          }
          .statement-btn {
            display: inline;
          }
          .agent-organization {
            font-size: 11px;
            letter-spacing: -0.4px;
            color: #717171;
          }
        }

        .agent-order-btn {
          flex: none;
          border: 1px solid #2575ef;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.2px;
          color: #2575ef;
          text-align: center;
          margin: 12px 0;
          padding: 8px;
          width: 112px;
          height: 32px;
        }
      }
      .more {
        text-align: center;
        a {
          font-size: 14px;
          letter-spacing: -0.4px;
          color: #717171;
        }
      }
    }
  }
  .section-comments {
    padding: 20px 16px;
    background-color: white;
    margin-top: 8px;
    .section-title {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.6px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    .comment-form {
      display: flex;
      padding-bottom: 16px;
      .commenter-image {
        width: 32px;
        height: 32px;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
      }
      .comment-right {
        width: 100%;
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .comment-box {
        margin-bottom: 8px;
        border: 1px solid #dedede;
        background-color: #fafafa;
        height: 68px;
      }
      .comment-submit-btn {
        font-size: 12px;
        padding: 8px 16px;
        background-color: #717171;
        border-radius: 2px;
        width: 55px;
        height: 32px;
        text-align: center;
        color: white;
        margin: 0 0 0 auto;
      }
    }
    .comment-filter {
      border-top: 1px dashed #f0f0f0;
      padding: 16px 0;
      .filter-select-agent {
        font-size: 14px;
        letter-spacing: -0.6px;
        color: #717171;
        background-color: white;
        padding: 9px 8px 7px;
        border: 1px solid #dedede;
        width: 100%;
      }
      .filters {
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        .filter-order-by {
          letter-spacing: -0.6px;
          font-size: 14px;
          display: flex;
          color: #aaaaaa;
          .order-by-recent {
            color: #303030;
            font-weight: 500;
          }
          .order-by-like-count {
            margin-left: 16px;
          }
        }
        .my-comment {
          text-decoration: underline;
        }
      }
    }
    .comment {
      border-top: 1px dashed #dedede;
      .comment-controls {
        flex: none;
        margin: 0 0 0 auto;
        word-spacing: 16px;
        text-align: right;
        a:hover {
          cursor: pointer;
        }
        font-size: 11px;
        letter-spacing: -0.4px;
        color: #717171;
      }
      .comment-form {
        .comment-right {
          .comment-header {
            margin-top: 6px;
            .nickname {
              line-height: 24px;
              font-size: 14px;
              letter-spacing: -0.6px;
              font-weight: 500;
              .comment-agent {
                display: inline;
                vertical-align: middle;
                line-height: 16px;
                height: 17px;
                margin-left: 8px;
                font-weight: normal;
                padding: 0 4px;
                font-size: 11px;
                letter-spacing: -0.4px;
                color: white;
                background-color: #1f88ff;
              }
            }
            .sign-info {
              font-size: 11px;
              letter-spacing: -0.4px;
              color: #2575ef;
              .date {
                display: inline;
                margin-left: 4px;
                color: #aaaaaa;
                vertical-align: middle;
              }
            }
          }
          .comment-body {
            font-size: 14px;
            margin-top: 8px;
            letter-spacing: -0.4px;
            color: #303030;
            p {
              word-break: keep-all;
            }
          }
          .comment-footer {
            margin-top: 8px;
            li {
              width: 16px;
              height: 16px;
            }
            .liked {
              display: inline;
              color: #2575ef;
            }
            .not-yet-liked {
              display: inline;
              color: #717171;
            }
          }
        }
      }
    }
    .commenter-image {
      width: 32px;
      height: 32px;
      border-radius: 20px;
      background-size: cover;
      background-position: center;
    }
  }

  .section-signer {
    .section-title {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: -1.6px;
      color: #303030;
      padding-bottom: 33px;
      border-bottom: 1px dashed #dedede;
    }
    .signers {
      .signer {
        border-bottom: 1px dashed #dedede;
        padding: 15px 0 16px;
        .signer-header {
          margin-top: 6px;
          display: flex;
          justify-content: space-between;
          .signer-image {
            vertical-align: middle;
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 20px;
            background-size: cover;
            background-position: center;
          }
          .nickname {
            margin-left: 4px;
            display: inline;
            line-height: 24px;
            font-size: 14px;
            letter-spacing: -0.6px;
            font-weight: 500;
          }
          .date {
            display: inline;
            margin-left: 4px;
            font-size: 11px;
            letter-spacing: -0.4px;
            color: #aaaaaa;
            vertical-align: middle;
          }
          .count {
            display: inline;
            font-size: 11px;
            letter-spacing: -0.4px;
            color: blue;
            line-height: 32px;
          }
        }
        .signer-word {
          font-size: 14px;
          margin: 8px 0 0 40px;
          letter-spacing: -0.4px;
          color: #303030;
          p {
            word-break: keep-all;
          }
        }
      }
    }
  }

  .section-orders-tab {
    .orders-tab-title {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: -1.6px;
      color: #303030;
      margin: 0;
    }
    .title-wrap {
      display: flex;
      justify-content: space-between;
    }
    .orders-tab-title-h5 {
      margin: 32px 0 0;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -1px;
      color: #666666; // #303030; need a hex code
      .title-left {}
      .title-right {
        font-weight: normal;
        .response-header-text {
          margin-right: 8px;
          display: inline-block;
          font-size: 14px;
          letter-spacing: -0.4px;
          color: #717171;
          line-height: 27px;
        }
        .response-header-btn {
          font-size: 12px;
          letter-spacing: 0.2px;
          color: white;
          background-color: #8b8b8b;
          display: inline-block;
          width: 61px;
          text-align: center;
          line-height: 24px;
        }
      }
    }
    .orders-top3 {
      padding: 40px;
      border: 1px solid #dedede;
      margin: 8px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 232px;
      .order-info {
        justify-content: space-between;
        display: flex;
        .order-image {
          @extend .user-image-sm;
          width: 40px;
          height: 40px;
        }
        .order-bar {
          height: 40px;
          width: calc(100% - 91px);
          padding: 16px 8px;
          .order-bar-count {
            border-radius: 4px;
            width: 100%;
            background-color: #dedede;
            height: 8px;
            .order-count {
              border-radius: 4px;
              width: 40%;
              background-color: #2575ef;
              height: 8px;
            }
          }
        }
        .order-count-label {
          width: 51px;
          font-size: 12px;
          text-align: right;
        }
      }
    }
    .response-present {
      padding: 43px 0 40px;
      margin: 8px 0 0;
      border: 1px solid #dedede;
      .response-counts {
        display: flex;
        @media (max-width: $screen-sm) {
          display: inline;
        }
        justify-content: space-between;
        margin: 0 88px;
        @media (min-width: $screen-sm) and (max-width: $screen-md-min) {
          margin: 0 5%;
        }
        .response-count {
          display: flex;
          height: 34px;
          @media (max-width: $screen-sm) {
            position: relative;
            margin-left: 50%;
            left: -60px;
          }
          .response-tag {
            margin: 3px 0;
            line-height: 34px;
            width: 60px;
            display: inline;
            color: white;
            font-size: 16px;
            letter-spacing: -0.5px;
            display: inline-block;
            text-align: center;
          }
          .agree { background-color: #13d1a7; }
          .disagree { background-color: #e74c3c; }
          .noresponse { background-color: #f7a329; }
          .count {
            margin-left: 8px;
            height: 34px;
            display: inline;
            font-size: 28px;
            font-weight: 500;
            letter-spacing: -1.8px;
            color: #303030;
          }
        }
      }
      .response-text {
        width: 221px;
        margin: 24px auto 0;
        color: #717171;
        font-size: 14px;
      }
      .response-btn {
        margin: 12px auto 0;
        border: 1px solid #2575ef;
        font-size: 14px;
        color: #2575ef;
        width: 167px;
        text-align: center;
        height: 32px;
        line-height: 32px;
      }
    }
    .agents {
      .agent {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        border: 1px solid #e0e0e0;
        margin-bottom: 8px;
        .agent-left {
          height: 56px;
        }
        .agent-unsure {
          position: relative;
          top: -4px;
          left: -4px;
          display: inline-block;
          line-height: 17px;
          height: 17px;
          width: 38px;
          text-align: center;
          font-size: 11px;
          background-color: #f7a329;
          color: white;
          letter-spacing: -0.4px;
        }
        .agent-disagree {
          position: relative;
          top: -4px;
          left: -4px;
          display: inline-block;
          line-height: 17px;
          height: 17px;
          width: 38px;
          text-align: center;
          font-size: 11px;
          background-color: #e74c3c;
          color: white;
          letter-spacing: -0.4px;
        }
        .agent-agree {
          position: relative;
          top: -4px;
          left: -4px;
          display: inline-block;
          line-height: 17px;
          height: 17px;
          width: 38px;
          text-align: center;
          font-size: 11px;
          background-color: #2575ef;
          color: white;
          letter-spacing: -0.4px;
        }
        .agent-image {
          width: 56px;
          height: 56px;
          flex: none;
        }
        .agent-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 11px;
          margin-right: auto;
          .agent-name {
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 500;
            color: #303030;
            display: inline;
          }
          .statement-btn {
            display: inline;
          }
          .agent-organization {
            font-size: 11px;
            letter-spacing: -0.4px;
            color: #717171;
          }
        }

        .agent-order-btn {
          flex: none;
          border: 1px solid #2575ef;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.2px;
          color: #2575ef;
          text-align: center;
          margin: 12px 0;
          padding: 8px;
          width: 112px;
          height: 32px;
        }
      }
    }
    .more {
      cursor: pointer;
      margin-top: 16px;
      text-align: center;
      font-size: 14px;
      letter-spacing: -0.4px;
      color: #717171;
    }
  }
  .section-story {
    .section-title {
      font-size: 14px;
      letter-spacing: -0.6px;
      font-weight: 500;
      color: #303030;
      line-height: 24px;
    }
    .stories {
      .story {
        padding: 16px;
        border: 1px solid #dedede;
        margin-top: 8px;
        .story-header {
          .user-image-sm {
            display: inline-block;
            vertical-align: middle;
          }
          .user-nickname {
            display: inline;
            font-size: 14px;
            letter-spacing: -0.6px;
            color: #303030;
          }
          .date {
            display: inline;
            font-size: 11px;
            margin-left: 4px;
            color: #dedede;
            letter-spacing: -0.4px;
          }
        }
        .story-title {
          font-weight: 500;
          margin-top: 6px;
          font-size: 16px;
          letter-spacing: -1px;
          color: #303030;
        }
        .story-body {
          color: #303030;
          font-size: 14px;
          letter-spacing: -0.4px;
          margin-top: 8px;
          line-height: 20px;
        }
        .story-footer {
          .liked {
            display: inline;
            color: #2575ef;
          }
          .not-yet-liked {
            display: inline;
            color: #717171;
          }
        }
      }
    }
  }
}
