.app-campaigns {
  .section-cover {
    $menu-height: 48px;
    .menu {
      display: flex;
      height: $menu-height;
      align-items: center;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      text-align: center;
      li {
        flex: 1;
        height: $menu-height;
        letter-spacing: -0.3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &.active {
          border-bottom: 3px solid $brand-primary;
        }
        .count {
          position: absolute;
          left: 53px;
          color: $brand-primary;
          font-size: $font-size-small;
          line-height: 1.7em;
        }
      }
    }
    .cover-img {
      height: 260px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .section-info {
    .label {
      background-color: #dadada;
      border-radius: 2px;
      letter-spacing: -0.4px;
      font-weight: normal;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

}
