@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap/functions';
@import "variables";
@import "bootstrap";
@import 'select2';
@import 'select2-bootstrap';
@import 'magnific-popup';
@import 'jquery.webui-popover';
@import 'slick';
@import 'slick-theme';
@import 'parti';

/* components */
@import 'redactor';
@import 'alignment'; // redactor plugin
@import 'jssocials';

.campaign-body, .story-body {
  img { max-width: 100%; }
}
