.component-card.issue-card {
  overflow: visible;
  border: 0;
  box-shadow: none;
  margin-bottom: $font-size-base*3;

  .card-content {
    padding: 0;
  }
  .card-title {
    margin-bottom: 5px;
    a {
      color: $gray-dark;
    }
  }
  .card-description {
    margin: 5px 0;
  }
}

.badge-issue {
  display: inline-block;
  background-color: $btn-default-bg;
  border-radius: $font-size-base;
  border: solid 1px $btn-default-border;
  padding: $font-size-base*.5 $font-size-base;
  margin-right: $font-size-base*.5;
  margin-bottom: $font-size-base*.5;
  &.badge-issue-following {
    background-color: $brand-primary;
    color: #fff;
  }
}
