.webui-popover-order-statement {
  .webui-popover-content {
    max-width: 70vw;
    @media (min-width: 768px) {
      max-width: 30vw;
    }
    figure {
      max-width: 100%;
    }
    img {
      max-width: 100%;
    }
  }
}