body {
  background-color: transparent;
}

.widget-section {
  $widget-brand-color: #2575ef;
  text-align: center;
  margin: 100px 0;
  @media (max-width: 767px) {
    margin: 40px 0;
  }
  > .yell {
    word-break: keep-all;
    color: #303030;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
    .count {
      font-size: 64px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      .count {
        font-size: 20px;
      }
    }
  }
  > .graph {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    @media (max-width: 767px) {
      margin-top: 45px;
      margin-bottom: 45px;
    }
    > .base {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      border: solid 1px #dedede;
      background-color: rgb(255, 255, 255);
      position: relative;
      overflow: hidden;
      @media (max-width: 767px) {
        height: 24px;
      }
      > .gage {
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $widget-brand-color;
        color: white;
        line-height: 38px;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 1px 1px 4px #303030;
        @media (max-width: 767px) {
          line-height: 22px;
          font-size: 14px;
        }
      }
    }
    > .desc {
      color: #717171;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      @media (max-width: 767px) {
        font-size: 14px;
        margin-top: 4px;
      }
      > .column {
        flex: none;
      }
    }
  }
  > .score {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    > .head {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-weight: normal;
      color: #303030;
      align-items: baseline;
      margin-bottom: 8px;
      @media (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 4px;
      }
      > .more {
        color: #575757;
        font-size: 12px;
        @media (max-width: 767px) {
          font-size: 11px;
        }
      }
    }
    > .boards {
      display: flex;
      margin-top: 8px;
      background-color: #343a40;
      border: solid 1px #dedede;
      > .board {
        flex: 1;
        padding: 16px 0;
        &:first-child {
          border-right: 1px solid white;
        }
        &:last-child {
          border-left: 1px solid white;
        }
        > .label {
          color: white;
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          @media (max-width: 767px) {
            font-size: 14px;
            display: block;
          }
        }
        > .count {
          display: inline-block;
          font-size: 28px;
          font-weight: 500;
          vertical-align: middle;
          @media (max-width: 767px) {
            font-size: 24px;
             display: block;
          }
          &.-agree {
            color: #28a745;
          }
          &.-disagree {
            color: #dc3545;
          }
          &.-unsure {
            color: #c3c3c3;
          }
        }
      }
    }
  }
  > .agents {
    margin-top: 20px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 767px) {
      margin-top: 16px;
    }
    > .filters {
      text-align: left;
      color: #575757;
      font-size: 14px;
      margin-top: 8px;
      margin-bottom: 8px;
      > .filter {
        display: inline-block;
        padding-right: 12px;
        cursor: pointer;
        &.-active {
          color: #303030;
          font-weight: bold;
        }
        & + .filter {
          padding-left: 12px;
          position: relative;
        }
        & + .filter:before {
          content: " ";
          height: 16px;
          width: 1px;
          background: #aaaaaa;
          display: block;
          position: absolute;
          left: -4px;
          top: 3px;
        }
      }
    }
    > .list {
      display: flex;
      margin: 0;
      padding: (20px - 8px) 0;
      background-color: white;
      position: relative;
      border: 1px solid #dedede;
      @media (min-width: 768px) {
        &:before {
          content: " ";
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: #f5f5f5;
          top: 0;
          left: 33.3%;
        }
        &:after {
          content: " ";
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: #f5f5f5;
          top: 0;
          right: 33.3%;
        }
      }
      .empty {
        display: none;
        flex: 1;
      }
      &.-no-item {
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
        > .empty {
          display: block;
        }
      }
      .agent {
        padding: 0 20px;
        display: flex;
        align-items: center;
        margin: 8px 0;
        &.-hide {
          display: none;
        }
        .image {
          flex: none;
          width: 28px;
          height: 28px;
          background-size: cover;
          background-position: center;
          border-radius: 99999px;
        }
        .name {
          flex: 1;
          text-align: left;
          margin-left: 8px;
          font-size: 14px;
          font-weight: 500;
          @media (max-width: 767px) {
            font-size: 16px;
          }
          > .organization {
            font-size: 12px;
            color: #717171;
            font-weight: normal;
          }
        }
        .stance {
          flex: none;
          font-size: 11px;
          font-weight: 500;
          padding: 3px 9px;
          border: 1px solid;
          border-radius: 2px;
          &.-agree {
            color: #28a745;
            border-color: #28a745;
          }
          &.-disagree {
            color: #dc3545;
            border-color: #dc3545;
          }
          &.-unsure {
            color: white;
            border-color: #8b8b8b;
            background-color: #8b8b8b;
          }
        }
      }
    }
  }
  .poweredby > .link{
    color: #8b8b8b;
    font-size: 12px;
    text-decoration: none;
    margin-top: 12px;
  }
}
