%section.cover
  %ul.menu
    %li.active
      내용
    %li
      촉구
    %li
      의견
    %li
      소식
    %li
      명단
  .cover-img
    커버 이미지
%section.info
  .meta
    .label
      성공
    .label
      서명
    .user
      .user-img
        씽이미지
      .user-name
        씽
%section.body
%section.orders
%section.share
%section.comments
%section.recommends
