
= render 'campaigns/picket/section_cover'

/ %section.section-summary
/   .campaign-body
/     선거때마다 후보들을...
/     해도 괜찮습니다.
/     방법은 단순합니다
/     (1) '5인' 이상 모입니다.
/     (2) 모임 인증샷을 남깁니다.
/     (3) #갈숲에게 연락합니다.
/   .more 내용 보기
/   .campaign-body-info
/     등록일: 2018.09.14
/     아젠다: 환경
/     이슈: 1회용컵 사용
/   .campaign-progress
/     .campaign-progress-bar
/       .sucess-badge 성공
/       .signs-bar{ style: "width: 70%" }
/     .campaign-time-to-left
/     .campaign-progress-meta
/       .goal-count 목표 팻말: 10,000개
/       .picket-count 등록 팻말: 7,000개
/       .current-percent 70%
/   .order-info
/     지금 스타벅스외 27 촉구에 참여해 보세요.
/     촉구하러가기
/     .agents
/       .agent
/         .agent-image
/         .agent-image-top
/         .agent-info
/           .agent-name 홍길동
/           .agent-organization 스탑복스
/           .agent-order-btn 10번째로 촉구하기

/ %section.section-share
/   .campaign-share
/     .campaign-share-buttons
/       .campaign-share-button
/         %i.fa.fa-facebook-f
/         공유하기
/       .campaign-share-button
/         %i.fa.fa-twitter
/         트윗
/       .campaign-share-button
/         %i.fa.fa-clipboard
/         주소 복사

= render 'campaigns/picket/section_tab', menu: 'content'

/ %section.section-tab
/   팻말
/   촉구
/   소식

/ %section.section-post-picket
/   내 팻말 등록

/ %secton.section-picket-tags
/   .picket-tags
/     .picket-tag #노인(5)
/     .picket-tag #경로당(5)
/     .picket-tag #경로(5)
/     .picket-tag #아동(5)
/     .picket-tag-more +25

/ %section.section-pickets
/   .campaign-pickets-info
/     전체 팻말(700)
/     내 팻말(3)
/   .campaign-pickets
/     .campaign-picket
/       .control-btn 신고
/       .user-image
/       .user-name 홍길동
/       .picket-date 2018.04.12
/       .picket-message
/         노인들이 편히 쉴 수 있는 공간을!
/         안녕하십니까? 저는...
/         님도 찾아뵙고...
/       .more 더보기
/       .like 1024
/       .comment-counts 502
/     .campaign-picket
/       .control-btn 신고
/       .user-image
/       .user-name 홍길동
/       .picket-date 2018.04.12
/       .picket-message
/         노인들이 편히 쉴 수 있는 공간을!
/         안녕하십니까? 저는...
/         님도 찾아뵙고...
/       .more 더보기
/       .like 1024
/       .comment-counts 502
