<%= javascript_include_tag 'widget-content' %>
<script defer>
  (function() {
    <%= render 'campaigns/widget/v1/component.js' %>

    if (window.NodeList && !NodeList.prototype.forEach) {
      NodeList.prototype.forEach = Array.prototype.forEach;
    }

    document.addEventListener('DOMContentLoaded', function() {
      var agentsFilters = document.querySelectorAll('.js-widget-agents-filter');

      agentsFilters.forEach(function(agentsFilter) {
        agentsFilter.addEventListener('click', function(event) {
          var currentAgentsFilter = event.currentTarget;
          var currentStance = currentAgentsFilter.dataset.widgetAgentsFilterStance;

          var anyItems = false
          document.querySelectorAll('.js-widget-agents-filter-item').forEach(function (item) {
            if (currentStance) {
              if (item.classList.contains('js-widget-agents-filter-item-' + currentStance)) {
                anyItems = true
                item.classList.remove('-hide');
              } else {
                item.classList.add('-hide');
              }
            } else {
              anyItems = true
              item.classList.remove('-hide');
            }
          });

          var agentList = document.querySelector('.js-widget-agents-filter-list');

          if (!agentList) { return; }
          if (anyItems) {
            agentList.classList.remove('-no-item')
          } else {
            agentList.classList.add('-no-item')
          }

          agentsFilters.forEach(function (aAgentsFilter) {
            aAgentsFilter.classList.remove('-active')
          })
          currentAgentsFilter.classList.add('-active')
        })
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
      new Readmore('.js-read-more', {
        collapsedHeight: '210px',
        moreLink: '<a href="#" class="more">더 보기</a>',
        lessLink: '<a href="#" class="more">닫기</a>',
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
      var className = '.js-campaign-time-to-left';

      if (document.querySelectorAll(className).length >= 0) {
        setInterval(update_campaign_time_laps, 1000);
      }

      function padding_zero(n) { if (n < 10) { return "0" + n } else return "" + n }

      function update_campaign_time_laps() {
        document.querySelectorAll(className).forEach(function (item) {
          var fromValue = item.dataset.campaignTimeToLeftDueDate;
          if (!fromValue) {
            return;
          }

          from = new Date(fromValue.replace(/\s/, 'T') + "+09:00")
          var diff = Math.floor(Math.abs(from - (new Date())) / 1000)
          item.querySelector('.days').innerHTML = Math.floor(diff / (24 * 3600))
          item.querySelector('.hours').innerHTML = padding_zero(Math.floor((diff % (24 * 3600)) / 3600))
          item.querySelector('.minutes').innerHTML = padding_zero(Math.floor((diff % 3600) / 60))
          item.querySelector('.seconds').innerHTML = padding_zero(Math.floor(diff % 60))
        })
      }
    });
  })()
</script>