%script{defer: "defer", src: "https://campaigns.test/campaigns/widget/v1/sdk.js?campaign_id=#{params[:id]}&component_height=100%25&component_width=100%25&target_query=%23unique_name"}
#unique_name{ style: 'width: 100%;'}
