- if user_signed_in?
  - if reportable.reported_by(current_user)
    %span.reported<>
      %span<> 신고되었음
      %i.fa.fa-check
  - else
    = link_to '신고', reports_path(reportable_id: reportable, reportable_type: reportable.class.name), method: :post, data: { confirm: '신고하시겠습니까?' }
  - if current_user.is_admin?
    = link_to '긴급신고', reports_path(reportable_id: reportable, reportable_type: reportable.class.name, force: true), method: :post, data: { confirm: '신고하시겠습니까?' }

    - if reportable.class.name == 'Comment'
      = render 'comments/toxic_button', comment: reportable
- else
  = link_to '신고', '#', data: { confirm: '로그인하시기 바랍니다.' }
